arabic_reshaper==3.0.0
google_api_python_client==2.116.0
googletrans==4.0.0rc1
matplotlib==3.8.2
numpy==1.26.4
openai_whisper==20231117
pandas==2.2.0
pydub==0.25.1
python_bidi==0.4.2
pytube==15.0.0
streamlit==1.29.0
streamlit_extras==0.4.0
textblob==0.17.1
whisper==1.1.10
ffmpeg==4.3.1
